section {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 60px auto;
    background-color: white;
    padding: 50px;
}

article {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
	border-radius: 5px;
}

#addNewPostBtn {
    margin-left: 10px;
    width: 15%;
}

.post-info {
	padding: 10px;
	padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-post {
    margin-top: 50px;
    margin-left: 10px;
}

header ~ div > img {
    width: 100%;
}

header ~ div > p {
    padding: 10px;
    font-weight: bold;
}

.like-button-enabled, .like-button-disabled {
    display: flex;
    padding: 10px;
}

.like-button-enabled button {
    margin-right: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(16, 114, 212);
    background-color: rgb(16, 114, 212);
}

.like-button-disabled button {
    margin-right: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
    background-color: grey;
}

.like-button-enabled button:hover {
    border-color: rgb(231, 250, 151);
    background-color: rgb(231, 250, 151);
    filter: invert(100%);
}

.post-body {
    word-break: break-all;
}

.post-buttons {
    margin-left: 10px;
    border-radius: 5px;
    border-style: solid;
    font-weight: bold;
    color: white;
    border-color: rgb(16, 114, 212);
    background-color: rgb(16, 114, 212);
  }
  
  .post-buttons:hover {
    border-color: rgb(24, 5, 104);
    background-color: rgb(24, 5, 104);
  }