article {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
	border-radius: 5px;
}

#addNewPostBtn {
    margin-left: 10px;
    width: 15%;
}

.no-post {
    margin-top: 50px;
    margin-left: 10px;
}

header ~ div > img {
    width: 100%;
}

header ~ div > p {
    padding: 10px;
    font-weight: bold;
}

.post-body {
    word-break: break-all;
}